<div *ngIf="product.title" class="card">
  <img class="card-img-top" [src]="product.imageUrl" alt="{{ product.title }}">
  <div class="card-body">
    <h4 class="card-title">{{ product.title }}</h4>
    <p class="card-text" *ngIf="product.price">{{ product.price | currency:'USD':true }}</p>
  </div>
  <div class="card-footer" *ngIf="showActions">
    <button *ngIf="getQuantity() === 0; else updateQuantity" class="btn btn-secondary btn-block" (click)="addToCart()">Add to Cart</button>
    <ng-template #updateQuantity>
      <div class="row no-gutters">
        <div class="col-md-2">
          <button class="btn btn-secondary btn-block" (click)="removeFromCart()">-</button>
        </div>
        <div class="col text-center">Items {{ getQuantity() }} in cart</div>
        <div class="col-md-2">
          <button class="btn btn-secondary btn-block" (click)="addToCart()">+</button>
        </div>
      </div>
    </ng-template>
  </div>
</div>